BASE_URL=http://localhost:3001
COMPANY_NAME=Devech Ltd.
DEFAULT_COMPANY_NAME=Devech Ltd.
TITLE=Home of Safe Trading
DEFAULT_TITLE=A taste of good choice.
PORTAL_NAME=Admin
PORTAL_DESCRIPTION=Customer Relationship Management (CRM) developed and maintained by Devech Ltd.
DEFAULT_PORTAL_DESCRIPTION=Customer Relationship Management (CRM) developed and maintained by Devech Ltd.
# Client Portal Information
CLIENT_PORTAL=http://localhost:3000
# WebSocket Information
WEBSOCKET_CONNECTION_ENDPOINT=localhost:3333
WEBSOCKET_CONNECTION_PROTOCOL=ws # wss for ssl
WEBSOCKET_CONNECTION_PATH=zerocrm
# Second Websocket Connection
WEBSOCKET_BACKEND_CONNECTION_ENDPOINT=localhost:3334
WEBSOCKET_BACKEND_CONNECTION_PROTOCOL=ws # wss for ssl
WEBSOCKET_BACKEND_CONNECTION_PATH=zerocrm
# End of WebSocket Information
S3_BUCKET_URL=https://s3.ap-east-1.amazonaws.com/docs.litditfund.com
#Axios Request Endpoint
API_URL=http://127.0.0.1:3334/api/v1
BACKEND_URL=http://127.0.0.1:3334
# Provider Information
DEVELOPED_BY=Devech Ltd.
MAINTAINED_BY=Devech Ltd.
COMPANY_WEBSITE=https://www.devech.com
common_email=support@devech.com
SALES_SUPPORT=+8801738478370
COMPANY_ADDRESS='House#01, Road#09, Section#06, Mirpur, Dhaka-1216, Bangladesh'