
//-------------------- Base Colors --------------------//

$theme-color:                   #1b77ff !default;
$theme-dark-color:              darken( $theme-color, 10% ) !default;
$theme-light-color:             #ffe27e !default;
$ic-primary:                    #7495dc;
$white-color:                   #ffffff;
$ic-red:                        #ea7373;
$font-color: #34363e            !default;
$font-light-color:              lighten( $font-color, 30% ) !default;
$font-gray-color:               #4d4d4d !default;
$black-color:                   #1d1d1d !default;
$black-dark-color:              lighten( $black-color, 30% ) !default;
$dark-light-color:              #696a6d;
$gray-light-color:              #dadada;
$pink-light-color:              #f95476;
$blue-light-color:              #a3c2ff;
$blue-extra-light-color:        #d3e0fc;
$gray-extra-light-color:        #f7f7f7;
$black-extra-color:             #00000099;
$tbl-header-tx-color:           #444;
$box-bg:                        #ffffff;

//-------------------- Header --------------------//
$header-bg:                    #ffffff;
$header-color:                 #000000de;

//-------------------- Sidebar --------------------//
$sidebar-bg:                    #f6f7fb;
$sidebar-color:                 #4d5258;

//-------------------- Login --------------------//
$login-page-bg:                 #ffffff;

//-------------------- Gradient Color --------------------//
$live-order-color-one: #3c97fe;
$live-order-color-two: #7e5efe;
$live-order-color-shadow: rgb(60, 151, 254, 0.56);

$close-order-color-one: #ef95a0;
$close-order-color-two: #f84d62;
$close-order-color-shadow: rgba(247,87,106,.56);

$deposits-one: #32ece3;
$deposits-two: #4eafeb;
$deposits-shadow: rgba(64,240,243,.56);

$withdraws-one: #6bd115;
$withdraws-two: #10c17b;
$withdraws-shadow: rgba(26,195,113,.56);

$cahs-wallet-color-one: #1b77ff;
$cahs-wallet-color-two: #4d9cff;
$cahs-wallet-color-shadow: rgb(60, 151, 254, 0.56);



//-------------------- Font Sizes --------------------//

$font-size-base:                14px !default;
$font-size-h1:                  30px !default;
$font-size-h2:                  26px !default;
$font-size-h3:                  24px !default;
$font-size-h4:                  18px !default;
$font-size-h5:                  16px !default;
$font-size-h6:                  12px !default;


//-------------------- Font Weight --------------------//

$font-weight-light:             300 !default;
$font-weight-normal:            400 !default;
$font-weight-bold:              600 !default;


//-------------------- Line Height --------------------//

$line-height-base:              1.5 !default;
$line-height-lg:                2.4 !default;
$line-height-sm:                1.3 !default;


//-------------------- Colors --------------------//

$red:                           #ff4136 !default;
$red-light :                    lighten($red, 4%);
$red-dark :                     darken($red, 24%);

$green :                        #229930 !default;
$green-light:                   lighten($green, 4%);
$green-dark:                    darken($green, 12%);

$cyan :                         #197dd4 !default;
$cyan-light:                    lighten($cyan, 0%);
$cyan-dark:                     darken($cyan, 12%);
$aquamarine:                    #5fd7c5;
$aqua:                          #49cde4;
$blue:                          #6262ef;
$violetRed:                     #f02a82;
$tomato:                        #ff7100;


//-------------------- Margins --------------------//

$margin-base:                   44px !default;
$margin-small:                  24px !default;
$margin-large:                  80px !default;
$margin-section:                96px !default;


//-------------------- Padding --------------------//

$margin-base:                   24px !default;
$margin-small:                  12px !default;
$margin-large:                  54px !default;


//-------------------- Line Height --------------------//

$line-height-base:              1.5 !default;
$line-height-lg:                2.4 !default;
$line-height-sm:                1.3 !default;

$border-radius-base: 4px;
$border-radius-lg: 12px;
$border-radius-sm: 2px;

//-------------------- Zindex --------------------//

$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

//-------------------- Section -------------------- //

$section-padding-top:      96px !default;


$border-radius-root:       4px !default;

//-------------------- Pagination -------------------- //

$pagination-border-radius: 6px !default;
$pagination-disabled-opacity: 0.6 !default;
// $pagination-item-font-size: map-deep-get($headings, 'subtitle-1', 'size') !default;
$pagination-item-height: 34px !default;
$pagination-item-margin: .3rem !default;
$pagination-item-min-width: 34px !default;
$pagination-item-padding: 0 5px !default;
$pagination-more-height: 32px !default;
$pagination-more-margin: .3rem !default;
$pagination-more-width: 32px !default;
$pagination-navigation-disabled-opacity: 0.6 !default;
$pagination-navigation-height: 32px !default;
$pagination-navigation-margin: .3rem 10px !default;
$pagination-navigation-width: auto !default;
$pagination-box-shadow: 0px 7px 14px rgb(27 119 255 / 29%) !default;
