<p>
  Welcome to Earth Square.
  <br/>
  Your password is here : <b>{{token}}</b>
</p>
 <p>
 If that is your IP address <a href="{{ baseURL }}/unblock?ticket={{ token }}">click here</a>  to unblock your account. Otherwise disregard this email.
        
      </p>