<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Email Confirmation</title>

</head>
<body>
  <section>
    <div class="subtitle">
     <p>
      Welcome to Earth Square.
      <br/>
        Your Email : <b>{{email}}</b>
      <br/>
      Your password : <b>{{password}}</b>
    </p>
     <p>Please click the link below to go to website.</p>
      <p>
        <a href="{{url}}">{{url}}</a>.
      </p>
    </div>
  </section>
</body>
</html>
